* {
    box-sizing: border-box;
}

#candidate {
    max-width: 1000px;
    font-size: larger;
    font-weight: bold;
    padding: 12px;
    margin: 0 auto;
    background-image: white;
    height: 100vh;
    color: #ceddeb;
}

#candidate h2 {
   color: #352019;
}

#register {
    width: 100%;
    margin: 0 auto;
    
}

.candidate_list, .election_outlet {
    width: 100%;
    margin: 0 auto;
}

.candidate_main {
    width: 100%;
    margin: 0 auto;
}

.candidate_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}



.candidate_item {
    text-align: start;
    padding: 3px 10px 3px 20px;
    cursor: pointer;
    width: 40%;
    border: none;
    background-color: #fdfcfb;
    border-radius: 4px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #352019;
    box-shadow: 1px 1px 3px 1px #352019;
}

.candidate_item:hover {
    background-color: #f3f6fa;
    text-decoration: none;
}

.candidate_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
    
}

#candidate div {
    color: grey;
    border-radius: 3px;
    margin: 30px 10px;
 
}

.control {
    max-width: 80%;
    margin: 0 auto;
}

.control Button {
    width: 90px;
    margin: 0 10px ;
}

.header {
    margin: 0 auto;
    font-size: 1em;
    
}   

.input, .select {
    padding: 10px ;
    width: 100%;
    border: 1px solid #352019;
    border-radius: 12px;
}
#candidate .button {
    margin-top: 50px;
    
    height: 40px;
    padding: 5px 0px;
}

.candidate_input {
    display: flex;
    flex-direction: column;

}
.candidate_register {
    padding-bottom: 5px;

}



.header {
    width: 100%;

}

  .result_table_row{
    display: flex;
    justify-content: space-around;
    
  }


/* ELECTIONS */

