* {
    box-sizing: border-box;
}

#candidate {
    max-width: 1000px;
    font-size: larger;
    font-weight: bold;
    padding: 12px;
    margin: 0 auto;
    background-image: rgb(253, 254, 255);
    height: 100%;
    color: #ceddeb;
}

#candidate h2 {
   color: #352019;
}



#register {
    width: 100%;
    margin: 0 auto;
    
}

.candidate_list, .election_outlet {
    width: 100%;
    margin: 0 auto;
}

.candidate_main {
    width: 100%;
    margin: 0 auto;
    
}

.candidate_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}



.candidate_item {
    text-align: start;
    padding: 3px 10px 3px 20px;
    width: 400px;
    height: 350px;
    border: 1px solid rgb(250, 250, 250);
    background-color: #f4f7ff;
    border-radius: 10px 10px 1px 1px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 15px;
    text-decoration: none;
    color: #1c2333;
    box-shadow: 4px 2px 3px rgb(216, 216, 248);

}

.candidate_item_link {
    border-radius: 30px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    display: flex;
    justify-content: center;

}

.message_alert {
    position: fixed;
    color: white;
}

.candidate_item_link:hover {
    background-color: blue;
    color: white;
}

.candidate_item i {
    font-size: 2.5rem;
}

.candidate_item i:hover {
    color: blue;
}

.candidate_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
    
}

#candidate div {
    color: grey;
    border-radius: 3px;
    margin: 30px 10px;
 
}

.control {
    max-width: 80%;
    margin: 0 auto;
}

.control Button {
    width: 90px;
    margin: 0 10px ;
}

.header {
    margin: 0 auto;
    font-size: 1em;
    
}   

.input, .select {
    padding: 10px ;
    width: 100%;
    border: 1px solid #352019;
    border-radius: 12px;
}
#candidate .button {
    margin-top: 50px;
    
    height: 40px;
    padding: 5px 0px;
}

.candidate_input {
    display: flex;
    flex-direction: column;

}
.candidate_register {
    padding-bottom: 5px;

}



.header {
    width: 100%;

}

.result_table_row td {
    border: none;
    padding: 5px;
}

.result_data tr:nth-child(odd) {
    background-color: rgb(246, 248, 253);
}

.result_data tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}


/* ELECTIONS */

