* {
    box-sizing: border-box;
}

#votecards {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    height: 100vh;
    max-width: 1000px;
}

.voting_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 1px 2px rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
    
}

.voting_card {
    width: 300px;
    height: 350px;
    margin: 16px 18px;
    border-radius: 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 1px 5px 1px rgb(247, 247, 247);
    background-color: #fff;
}

.image {
    width: 80%;
    height: 60%;
    border-radius: 50px;
    z-index: 2;
    border: none;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
    background-color: rgb(219, 213, 213);
    z-index: 2;
    border: none;

}

.voting_card button {
    /* background-image: linear-gradient(90deg, white, yellow); */
    background-color: rgb(35, 77, 168);
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    border: none;
    width: 300px;
    height: 60px;
    border-radius: 5px;

}
.voting_card hr{
    width: 300px;
    
}

.voting_cards button:hover {
    background-color: rgb(65, 88, 219);
    /* color: rgb(35, 35, 36); */
}

/* ELECTION */

#election {
    max-width: 1000px;
    font-size: larger;
    font-weight: bold;
    padding: 12px;
    margin: 0 auto;
    background-image: white;
    height: 100vh;
    color: #ceddeb;
}

.election_main {
    width: 100%;
    margin: 0 auto;
}

.election_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    align-items: center;
   
}

.election_item i {
    font-size: 2rem;
}



.election_item {
    text-align: start;
    padding: 3px 10px 3px 20px;
    width: 400px;
    height: 350px;
    border: 1px solid rgb(250, 250, 250);
    background-color: #f4f7ff;
    border-radius: 10px 10px 1px 1px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 15px;
    text-decoration: none;
    color: #1c2333;
    box-shadow: 4px 2px 3px rgb(216, 216, 248);
    
}

.election_item_link {
    border-radius: 30px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    display: flex;
    justify-content: center;

}

.election_item_link:hover {
    background-color: blue;
    color: white;
}




.button {
    margin-top: 50px;
    
    height: 70px;
    padding: 15px 30px;
}

.control {
    max-width: 80%;
    margin: 0 auto;
}

.control Button {
    width: 90px;
    margin: 0 10px;
}

.result_table_row{
    display: flex;
    justify-content: space-between;
    
}

.result_table_row td {
    border: none;
    padding: 5px;
}

.result_data tr:nth-child(odd) {
    background-color: rgb(246, 248, 253);
}

.result_data tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}